/***********************************************
*	Content - Huizen overzicht
************************************************/


#items {
    position: relative;
    float:left;
}

#items img.huisimage{
    width: 160px;
    height: 120px;
    float:left;
    margin-right: 10px;
}

#items a.huis {
    /*	background:url('../images/windowBlock-title.png') 0 0 no-repeat; */
    /*	background: #eeeeee; */
    /*width:675px;*/
    /*height:120px; *//*120px */
    padding: 12px 10px 12px 10px;
    display:block;
    color:#000;
    font-size:13px;
    float: left;
    clear: left;
    border-bottom: 1px dashed;
}

/* IE 6 hack to make entire button clickable */
/* html #items a.huis { width: 1px; } */

#items a:hover.huis {
    background: #eee; /*#d3d3d3 */
    text-decoration: none;
}

#items .propertyname {
    color: #CC0000;
    font-size: 15px;
    font-weight: bold;
    margin-top: 6px;
    display: block;
    float: left;
    width: 200px;
}

#items .streetname {
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    display: block;
    float: left;
    width: 350px;
}

#items #clear {
    margin-bottom: 17px;
    width: 490px;
}

#items .clear {
    margin-bottom: 1px;
    width: 490px;
    display: block;
}

#items .price {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    float: left;
    width: 65px;
    text-align: right;
}

#items .price_shortstay {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    display: block;
    float: left;
    width: 140px;
    text-align: right;
}

#items .info {
    display: block;
    font-size: 11px;
}

#items .info .infolabel {
    float:left;
    width: 65px;
    font-weight: bold;
    margin-top: 5px;
}

#items .info .infocontent {
    float:left;
    width: 100px;
    margin-top: 5px;
}

#items .huis p {
    margin:0 10px 15px 0;
    padding:0 5px;
    float:left
}

#items .info #icons {
    float: left;
    margin-bottom: 1px;
    width: 470px;
    display: block;
    margin-top: 6px;
    margin-bottom: 4px;
    padding: 0 10px;
}

#items  #icons .infoicon {
    width: 33px;
    display: block;
    float: left;
    font-size: 20px;
}

#items  #icons .infoicon_number {
    position: relative;
    width: 80px;
    height: 21px;
    display: block;
    float: left;
    font-size: 20px;
    top: 3px;
}

.maplegenda {

}


#maplegenda a, #maplegenda a:visited {
    display:block;
    position: relative;
    top: -20px;
    float:right;
    margin-right: 15px;
    width: 250px;
    text-align: right;
    font-size: 10px;
    font-weight: bold;
}

#maplegenda a span {
    display: none;
}

#main #maplegenda a:hover {
    text-decoration: none;
}

#main #maplegenda a:hover span{
    display: block;
    position: absolute;
    text-decoration: none;
    top: 20px;
    right: 0px;
    width: 140px;
    margin: 0px;
    padding: 10px;
    color: #000000;
    font-weight: normal;
    background: #efefef;
    text-align: left;
    border: 1px solid #666;
    font-size: 11px;
    z-index: 100!important;
}

