
/* copied from Bootstrap example */

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}



/* General layout and style */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.masthead {
    margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
    .masthead {
        margin-bottom: 0px;
    }
}

#photos {
    width: 333px;
    padding-left: 30px;
    margin: 0 auto;
    height: 61px;
    top: -50px;
    position: relative;
}
@media screen and (min-width: 992px) {
    #photos {
        width: 650px;
        padding-left: 300px;
    }
}
.mx-button {
    float: left;
    padding-right: 40px;
}
.mx-button label {
    width: 61px;
    height: 61px;
    outline: 0px;
    border: 0px;
}
.mx-button input {
    display: none;
}
.mx-button input         + #label1 { background-image: url(img/diana-small.png); }
.mx-button input         + #label2 { background-image: url(img/ben-small.png); }
.mx-button input         + #label3 { background-image: url(img/alice-small.png); }
.mx-button input:checked + #label1 { background-image: url(img/diana-big.png); }
.mx-button input:checked + #label2 { background-image: url(img/ben-big.png); }
.mx-button input:checked + #label3 { background-image: url(img/alice-big.png); }

.rating-input {
    float: left;
    width: 150px;
    font-size: 18px;
    padding-top: 4px;
}

.recommenderHeader {
    color: #444;
}

#log {
    color: #888;
    font-size: .7em;
}

.footer {
    margin-top: 40px;
}